<link rel="stylesheet" href="/css/chat_box.css">

<div id="chatbox-container">
    <div id="chat-header">
        <h1>
            Let's Talk!
        </h1>
        <p>
            Talk to your friends!
        </p>
    </div>

    <div id="user-chat-box">
        <ul id="chat-messages-list">
            <!-- <li class="other-message">
                <sub>User A</sub>
                <span> Other Message </span>
            </li>
            <li class="self-message">
                <sub>User B</sub>
                <span> Self Message </span>
            </li> -->
        </ul>

        <div id="chat-message-input-container">
            <input type="text" id="chat-message-input" placeholder="Type message here...">
            <button id="send-message"> Send </button>
        </div>
    </div>
</div>