<link rel="stylesheet" href="/css/chat_box.css">

<div id="chatbox-container">
    <div id="chat-header">
        <h1>
            Let's Talk!
        </h1>
        <p>
            Talk to your friends!
        </p>
    </div>

    <div id="user-chat-box">
        <div id="chat-messages-list">
            <!-- <div class="other-message">
                <img src="<%= user.avatar %>" alt="<%= user.name %>"
                class="circle avatar chat-avatar">

                <div class="message">
                    <sub>John</sub>
                    <span> Other Message </span>
                </div>
            </div>
            <div class="self-message">
                <div class="message">
                    <span> Self Message </span>
                </div>
            </div> -->
        </div>

        <div id="chat-message-input-container">
            <input type="text" id="chat-message-input" placeholder="Type message here...">
            <button id="send-message"> Send </button>
        </div>
    </div>
</div>