<link rel="stylesheet" href="/css/default.css">
<div id="default-page">
    <h1>
        Login to Chat!
    </h1>

    <a href="/users/sign-in"> Sign In </a>
    
    <a href="/users/sign-up"> Sign Up </a>
</div>