<header id="layout-header">
    <h1>
        <a href="/"> Scratch </a>
    </h1>

    <ul>
        <% if(locals.user) { %>
            <li id="user-name">
                <%= user.name %>
            </li>
            <li>
                <a href="/users/sign-out"> SignOut </a>
            </li>
        <% } else { %>
            <li>
                <a href="/users/sign-in"> SignIn </a>
            </li>
            <li>
                <a href="/users/sign-up"> SignUp </a>
            </li>
        <% } %>
    </ul>
</header>