<header id="layout-header">
    <nav class="navbar-items">
        <div class="navbar-link">
            <a href="/">
                <i class="fa-regular fa-message"></i>
                ChatApp 
            </a>
        </div>
    </nav>

    <nav class="navbar-items navbar-items-right">
        <% if(locals.user) { %>
            <div class="navbar-link">
                <%= user.name %>
            </div>

            <div class="navbar-link">
                <a href="/users/sign-out"> SignOut </a>
            </div>
        <% } else { %>
            <div class="navbar-link">
                <a href="/users/sign-in"> SignIn </a>
            </div>

            <div class="navbar-link">
                <a href="/users/sign-up"> SignUp </a>
            </div>
        <% } %>
    </nav>
</header>