#default-page {
  width: 80%;
  text-align: center;
  padding: 40px;

  a {
    display: block;
    width: 70%;
    font-weight: 300;
    padding: 1.2rem;
    margin: 1em auto;
    background: var(--color-green);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
  }
}