#layout-header {
  background: var(--color-darkblue-alpha);
  display: flex;
  padding: 16px 24px;
  width: 80%;
  margin: 10px auto;

  .navbar-items {
    display: flex;
    // flex-wrap: wrap;
  }

  .navbar-items-right {
    margin-left: auto;

    .navbar-link {
      padding-left: 8px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}