#sign-up {
    width: 80%;
}

#sign-up h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    text-align: center;
}

#sign-up label,
#sign-up input {
    display: block;
}

#sign-up label {
    font-weight: bold;
    margin-bottom: 0.3em;
}

#sign-up input {
    width: 100%;
    padding: 5px;
    margin-bottom: 1.2em;
    border: 1px solid #888;
    height: 2rem;
}

#sign-up input[type=submit] {
    background-color: #51ADFF;
    color: white;
    font-weight: bold;
    font-size: 1em;
}